<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Chuck Norris Spring test</title>
</head>
<body>
    <div class="container-fluid boder pt-2 d-flex justify-content-center">
        <table>
            <tr>
                <p class="card-text" th:text="${any}"></p>
            </tr>
        </table>


        </div>
    </div>
</body>
</html>